.main-pf {
  padding-top: 94px;
}

.products {
  display: flex;
  flex-flow: wrap;
  margin-top: -30px;
  margin-left: -30px;
  margin-bottom: 94px;
  &__list {
    margin-top: 28px;
    margin-left: 28px;
    border: 1px solid #eeeeee;
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: var(--cubic) 250ms;
    }
  }
  &__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--text-color);
  }
  &__function {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  &-items {
    padding: 20px 24px;
  }
  &-img {
    display: block;
    width: 100%;
    height: auto;
  }
  &-overlay-text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 322px;
    height: 168px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--main-color);
    transition: var(--cubic) 250ms;
  }
  &-container {
    position: relative;
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: var(--cubic) 250ms;
  background: rgba(33, 150, 243, 0.9);
}

.products-container:hover .overlay {
  opacity: 1;
}